<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584275520806-fts1ff8epb24riv9pun2tmoan2sfif21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584275520806-fts1ff8epb24riv9pun2tmoan2sfif21</string>
	<key>API_KEY</key>
	<string>AIzaSyAwqUK7yyar5G7di0kFazhYucj2GlYcOpU</string>
	<key>GCM_SENDER_ID</key>
	<string>584275520806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tampilanLelangUkkJan292023</string>
	<key>PROJECT_ID</key>
	<string>enricko-lelang</string>
	<key>STORAGE_BUCKET</key>
	<string>enricko-lelang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584275520806:ios:e1ec443612503101f025e7</string>
</dict>
</plist>